<div class="container-xxl bd-gutter masthead-followup">
  <div class="col-lg-7 mx-auto pb-3 mb-3 mb-md-5 text-md-center">
    <div class="masthead-followup-icon d-inline-block mb-3" style="--bg-rgb: var(--bd-theme-rgb);">
      <svg class="bi fs-1"><use xlink:href="#git"></use></svg>
    </div>
    <!-- <h2 class="display-5 mb-3 fw-semibold lh-sm">Use on existing &amp; new git&nbsp;repositories</h2> -->
    <!-- <h2 class="display-5 mb-3 fw-semibold lh-sm">Provisioner your Ops environment into a version controlled repository</h2> -->
    <h2 class="display-5 mb-3 fw-semibold lh-sm">Use any available CLI plugins or contribute new ones</h2>
    <p class="lead fw-normal">
      Search for existing plugins that are available for use or contribute new ones using a Python based framework in a no-brainer manner, simple and quick.
    </p>
    <p class="d-flex justify-content-md-start justify-content-md-center lead fw-normal">
      <a href="/docs/{{ .Site.Params.docs_version }}/getting-started/download/" class="icon-link fw-semibold justify-content-center ps-md-4">
        Read installation docs
        <svg class="bi"><use xlink:href="#arrow-right-short"></use></svg>
      </a>
    </p>
  </div>

  <section class="row g-3 g-md-5 mb-5 pb-5 justify-content-center">
    <div class="col-lg-6 py-lg-4 pe-lg-5">
      <svg class="bi mb-2 fs-2 text-muted"><use xlink:href="#box-seam"></use></svg>
      <h3 class="fw-semibold">Install using several options</h3>
      <p class="pe-lg-5">
        Install <code>provisioner</code> from PyPi via pip, pre-built release or from sources. Package managed installs contains only the bare minimum without documentation / site / dev-scripts etc...
      </p>
      <!-- {{ highlight (printf ("npm install bootstrap@%s") .Site.Params.current_version) "sh" "" }} -->
      <p>
        For additional information <a href="/docs/{{ .Site.Params.docs_version }}/getting-started/download/">check the download section</a>.
      </p>
    </div>
    <div class="col-lg-6 py-lg-4 ps-lg-5 border-lg-start">
      <svg class="bi mb-2 fs-2 text-muted"><use xlink:href="#github"></use></svg>
      <h3 class="fw-semibold">Browse through available plugins</h3>
      <p class="lead fw-normal">
        Browsing through the available plugins is as simple as running the following command:
        {{ highlight (printf (`provisioner plugins install`)) "sh" "" }}
      </p>
      <p>
        For the full list of available plugins <a href="/docs/{{ .Site.Params.docs_version }}/plugins/provisioner-runtime/#quickstart">check the following section</a>.
      </p>
    </div>
  </section>

  <section class="col-lg-7 mb-5">
    <div class="masthead-followup-icon d-inline-block mb-3" style="--bg-rgb: var(--bs-primary-rgb);">
      <svg class="bi fs-1"><use xlink:href="#braces"></use></svg>
    </div>
    <h2 class="display-5 mb-3 fw-semibold lh-sm">Built-in capabilities out of the box</h2>
    <p class="lead fw-normal">
      Provisioner Python CLI framework supports a wide range of common utilities, interactive terminal and core capabilities such as config-management, flag modifiers (verbose, dry-run, auto-prompt) and much more...
    </p>
    <p class="d-flex justify-content-start lead fw-normal">
      <a href="/docs/{{ .Site.Params.docs_version }}/repository/structure/" class="icon-link fw-semibold">
        Learn more about the provisioner Python framework
        <svg class="bi"><use xlink:href="#arrow-right-short"></use></svg>
      </a>
    </p>
  </section>
  <br>
  <br>
  <section class="row g-md-5 pb-md-5 mb-5 align-items-center">
    <div class="col-lg-8 mb-5">
      <div class="masthead-followup-icon d-inline-block mb-3" style="--bg-rgb: var(--bd-theme-rgb);">
        <svg class="bi fs-1"><use xlink:href="#plugin"></use></svg>
      </div>
      <h2 class="display-5 mb-3 fw-semibold lh-sm">Commonly used CLI plugins</h2>
      <p class="lead fw-normal">
        Those are the common and highly used <code>provisioner</code> plugins.
      </p>
      <p class="d-flex align-items-start flex-column lead fw-normal mb-0">
        <a href="/docs/{{ .Site.Params.docs_version }}/repository/structure/" class="icon-link fw-semibold mb-3">
          Learn more about available plugins
          <svg class="bi"><use xlink:href="#arrow-right-short"></use></svg>
        </a>
      </p>
    </div>
    <div class="row gx-md-5">
      <div class="col-lg-6 mb-3">
        <svg class="bi mb-2 fs-2 text-muted"><use xlink:href="#terminal"></use></svg>
        <h3 class="fw-semibold">Installers Plugin</h3>
        <p>Install anything anywhere on any OS/Arch either on a local or remote machine.<br>
          <br>This plugin is designed to install any type of software, package, or application quickly and easily in a one-liner command.<br>
          <br>Remove the hassle of going through multiple READMEs and/or documentation sites just to get the software installed.<br>
          <br>For additional information please head to the <a href="/docs/{{ .Site.Params.docs_version }}/usage/plugin-installers/">Plugin: Installers</a> section.
        </p>
        {{ highlight (printf `# Print a list of available installables
$ provisioner install 

# Install Helm CLI interactively (prompt for Local/Remote)
$ provisioner install cli helm

# Install Helm CLI locally (Non-interactive)
$ provisioner install --environment=Local cli helm

# Install K3s server remotely (Non-interactive)
$ provisioner install \
  --environment Remote \
  --hostname rpi-01 \
  --ip-address 1.2.3.4 \
  --node-username pi \
  --ssh-private-key-file-path /path/to/pkey \
  cli helm`) "text" "" }}
        <!-- <img class="img-fluid mt-1 mx-auto" src="/docs/{{ .Site.Params.docs_version }}/assets/img/provisioner-build-bazel-example.svg"
                                          alt="provisioner Build Bazel" width="700" height="600" loading="lazy"> -->
      </div>
      <div class="col-lg-6 mb-3">
        <svg class="bi mb-2 fs-2 text-muted"><use xlink:href="#motherboard"></use></svg>
        <h3 class="fw-semibold">Single Board Plugin</h3>
        <p>Single boards management as simple as it gets.<br>
          <br>Manage small single-board computers such as <b><i>Raspberry Pi</i></b> using interactive CLI commands.<br>
          <br>Focus on safe, secure and remotely possible provisioning, starting from the initial OS/Network set-up and configuration towards on-going maintenance.<br>
          <br>For additional information please head to the <a href="/docs/{{ .Site.Params.docs_version }}/usage/plugin-single-board/">Plugin: Single Board</a> section.
        </p>
        {{ highlight (printf `# Select an available local block device to burn a Raspbian OS image (SD-Card / HDD)
$ provisioner single-board raspberry-pi os burn-image

# Select a remote Raspberry Pi node to configure Raspbian OS software and hardware settings
$ provisioner single-board raspberry-pi node configure

# Select a remote Raspberry Pi node on the ethernet network to configure a static IP address
$ provisioner single-board raspberry-pi node network`) "text" "" }}
      </div>
    </div>
  </section>

  <section class="row g-3 g-md-5 pb-md-5 mb-5 align-items-center">
    <div class="col-lg-6">
      <div class="masthead-followup-icon d-inline-block mb-3" style="--bg-rgb: var(--bd-theme-rgb);">
        <svg class="bi fs-1"><use xlink:href="#book"></use></svg>
        <!-- {{ partial "icons/circle-square.svg" (dict "width" "32" "height" "32") }} -->
      </div>
      <h2 class="display-5 mb-3 fw-semibold lh-sm">Provisioner motto</h2>
      <p class="lead fw-normal">
        The goal for <code>provisioner</code> is to have the ability to install or use anything either locally or on a remote machine with the focus of making the process as simple as possible, one stop shop for your needs.<br><br>
        It could be summarized into the following phrase:<br><i>"Provision everything anywhere"</i>
      </p>
    </div>
    <div class="col-lg-6">
      <!-- <img class="img-fluid mt-3 mx-auto" src="/docs/{{ .Site.Params.docs_version }}/assets/img/provisioner-prod-example.svg"
                                          alt="Provisioner Production Example" width="700" height="600" loading="lazy"> -->
    </div>
  </section>

  <section class="row g-3 g-md-5 pb-md-1 mb-5 align-items-center">
    <div class="col-lg-6">
      <div class="masthead-followup-icon d-inline-block mb-3" style="--bg-rgb: var(--bd-theme-rgb);">
        <svg class="bi fs-1"><use xlink:href="#controller"></use></svg>
      </div>
      <h2 class="display-5 mb-3 fw-semibold lh-sm">Try the playground</h2>
      <p class="lead fw-normal">
        Take <code>provisioner</code> for a spin by using the <code>provisioner-examples-plugin</code>.
      </p>
    </div>
    <div class="col-lg-6">
      {{ highlight (printf `$ pip install provisioner-examples-plugin

# Print examples plugin commands
$ provisioner examples

# Run a no-op Ansible command
$ provisioner examples ansible hello
        `) "text" "" }}

    </div>
    <p class="d-flex align-items-start flex-column lead fw-normal mb-0">
      <a href="/docs/{{ .Site.Params.docs_version }}/getting-started/playground/" class="icon-link fw-semibold mb-3">
        See playground walkthrough
        <svg class="bi"><use xlink:href="#arrow-right-short"></use></svg>
      </a>
    </p>
  </section>
</div>
